---
import { getCollection } from "astro:content";

async function getRecentPosts() {
  const posts = await getCollection("blog");
  const sortedPosts = posts.sort(
    (a, b) =>
      new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
  );
 const filterPosts = sortedPosts.slice(0, 4);
 return filterPosts
}

const recentPosts = await getRecentPosts()

---

<section class="recent-post">
  {
    recentPosts.map((post) => (
      <a href=`/blog/${post.slug}` class="card" >
        <figure>
          <h3>{post.data.title}</h3>
          <img src={post.data.heroImage} alt={post.data.heroImageAlt} />
        </figure>
      </a>
    ))
  }

</section>

<style>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .recent-post {
    display: flex;
    gap: 1rem;
    max-width: 80rem;
    flex-wrap: wrap;
  }

  .card {
    position: relative;
    left: 0px;
    width: 6rem;
    border-radius: 1.2rem;
    height: 20rem;
    overflow: hidden;
    background-color: transparent;
    transition: 0.4s ease-in-out;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.3);
    flex: 0.25;
  }

  .card figure img {
    position: relative;
    height: 20rem;
    object-fit: cover;
    transition: 0.4s ease-in-out;
  }

  .card figure h3 {
    position: absolute;
    font-size: 22px;
    bottom: 45%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    margin: 0;
    color: white; 
    display: none;
    transition: all 2s ease-in;
    text-wrap: pretty;
  }

  .card:hover {
    flex: 2;
    font-weight: bold;
    cursor: pointer;
    border-radius: 1rem;
  }

  .card:hover h3{
   display: block !important;
  }

  .card:hover img {
    object-fit: cover;
    width: 100%;
    filter: brightness(20%);
  }

  /* .car:nth-child(1) img {
    left: -8rem;
  }

  .car:nth-child(2) img {
    left: -6rem;
  }

  .car:nth-child(3) img {
    left: -14rem;
  }

  .car:nth-child(4) img {
    left: -8rem;
  } */
</style>
